SIDENAV
<hr/>
  <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <img class="background" src="../assets/img/office.jpg">
      <a href="#!user"><img class="circle" src="../assets/img/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

<br />
BACKGROUND COLOR
<hr />

<div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>

TEXT COLOR
<hr />

<div class="card-panel">
  <span class="blue-text text-darken-2">This is a card panel with dark blue text</span>
</div>

MATERIALIZE GRID
<hr />

<div class="container">
<div class="row">
  <div class="blue lighten-5 col s12 m1 l1">1</div>
  <div class="blue lighten-4 col s12 m1 l1">1</div>
  <div class="blue lighten-3 col s12 m1 l1">1</div>
  <div class="blue lighten-2 col s12 m2 l2">2</div>
  <div class="blue lighten-1 col s12 m3 l3">2</div>
  <div class="blue col s12 m4 l4">2</div>
</div>  
</div>


DEPTH
<hr />
<p class="z-depth-1">z-depth-1</p>
<p class="z-depth-2">z-depth-2</p>
<p class="z-depth-3">z-depth-3</p>
<p class="z-depth-4">z-depth-4</p>
<p class="z-depth-5">z-depth-5</p>

BUTTONS
<hr />
<a class="waves-effect waves-light btn">Stuff</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

<br />
FORM
<hr />
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
  </form>
</div>

ICONS
<hr />
<i class="small material-icons">add</i>

<i class="medium material-icons">add</i>

<i class="large material-icons">add</i>