// All styles applied here will apply site wide

body {
    background: #0147A7;
    color: #fff;
    main {
      padding: 1em;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      margin-top: 50px;
      display: block;
    }
}
