// All styles applied here will apply site wide

@import "../assets/styles/materialize/sass/materialize.scss";

body {
    width: 70%;
    margin: auto;
    p {
        background-color: yellow;
    }
}